body {
	margin: 0;
	background: black;
	color: white;
	font-weight: bold;
	overflow: hidden;
}

#content {
	display: inline-block;
	max-height: 100vh;
	width: 100vw;
	overflow-y: auto;
}

#output {
	font-family: 'Courier', monospace;
	white-space: pre-wrap;
}

#hiddenInput {
	display: block;
	position: fixed;
	left: -1000px;
}
